@media (max-width: 710px) {
    .navlist {
        flex-direction: column;
        align-items: center;
        /* border: 2px solid red; */
        font-size: 25px;
        line-height: 13px;
    }

    .navlist li a {
        font-size: 15px;
        align-items: center;

    }

    .logo {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        height: 158px;
        transition: all 0.5s ease-out;
    }

    .h-nav-resp{
        height: 40px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .rightNav {
        flex-direction: column;
        width: 18%;
        align-items: center;
        padding: 0px;
        text-align: center;
    }

    .burger {
        display: block;
        right: 2%;
        cursor: pointer;
        position: absolute;
        top: 7px;
    }

    .line {
        width: 27px;
        background-color: white;
        height: 3px;
        margin: 4px 3px;
    }

    #search {
        padding: 5px;
        font-size: 4px;
        border: 2px solid grey;
        border-radius: 3px;
    }

    .btn-sm {
        padding: 2px 4px;
        vertical-align: middle;
    }
}