* {
    margin: 0;
    padding: 0;
    font-family: BankGothic Lt BT;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;

}

.navlist {
    width: 70%;
    /* background-color: black; */
    display: flex;
    justify-content: left;
    align-items: left;
}

.logo img {
    width: 37px;
    /* border: 2px solid white; */
    border-radius: 50px;
    position: relative;
    top: 6%;
}

.navlist li {
    list-style: none;
    padding: 0.7% 2%;
    /* border: 2px solid white; */
}

.navlist li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    top: 17%;
}

.navlist li a:hover {
    color: yellowgreen;
}

.rightNav {
    /* background-color: greenyellow; */
    width: 30%;
    text-align: right;
    padding: 0px 23px;
    /* border: 2px solid yellow; */

}

#search {
    padding: 5px;
    font-size: 0.8vw;
    border: 2px solid grey;
    border-radius: 9px;
}

.burger {
    display: none;
    right: 1%;
    cursor: pointer;
    position: absolute;
    top: 7px;
}

.line {
    width: 27px;
    background-color: white;
    height: 3px;
    margin: 4px 3px;
}

/* .background {
    background: rgba(0, 0, 0, 0.7) url('/img/background.jpg');
    background-size: cover;
    background-blend-mode: darken;
} */

.box-main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf {
    /* width: 70%; */
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid yellow; */
}

.secondHalf {
    /* width: 30%; */
    padding: 23px 39px;
    /* border: 2px solid yellow; */
}

.secondHalf img {
    width: 200px;
    border: 2px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;

}

.text-big {
    font-size: 45px;
}

.text-small {
    font-size: 17px;
    font-weight: 100;
}

.tb {
    font-size: 2vw;
}


.ts {
    font-size: 1vw;
}

.btn {
    padding: 1vw 1vw;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm {
    padding: 0.2vw 0.9vw;
    vertical-align: middle;
    position: relative;
    left: 1%;
}

.sec {
    background: #000;
}

.section {
    height: 24vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    padding: 3px;
    font-size: 1.2vw;
    color: white;
    background: #182f3c;
    /* border: 2px solid red; */
}

.sectionTag {
    padding: 18px 0px;
}

.section-left {
    flex-direction: row-reverse;
}

.paras {
    padding: 0px 4vw;
    width: 70%;
}

.thumbnail {
    /* border: 2px solid red; */
    width: 30%;

}

.thumbnail img {
    width: 100%;
    border-radius: 32px;
}

.contact {
    background-color: #606d87;
}

.text-center {
    text-align: center;
    font-size: 2vw
}

.form {
    max-width: 75%;
    margin: 3px auto;
}

.form-input {
    margin: 0.4vw 0px;
    width: 100%;
    font-size: 1vw;
    border: 2px solid grey;
    border-radius: 6px;
}

.btn-dark {
    color: white;
    border: 2px solid grey;
    position: relative;
    left: 43%;
}

.background {
    background: #000;
}

.text-footer {
    text-align: center;
    font-size: 2vw;
    padding: 7px 0px;
    display: flex;
    justify-content: center;
    color: white;
}

.hrr {
    align: right;

}

::placeholder {
    color: black;
    opacity: 1;
    font-size: 17px;
    font-weight: 600;
}

.in{
    height: 25px;
}
